In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("/content/sales_082020.csv")
cur = pd.read_csv("/content/currency_rates_082020_EUR.csv")

In [7]:
df

          buyer_id buyer_country seller_id  ... currency   price        date
0       qzpjsi9t0o            GB  6oufpaot  ...      GBP   19.11  2020-08-03
1       o79pns1qwo            GB  50xki2yg  ...      GBP   15.92  2020-08-09
2       sjgbjdkhqx            GB  50xki2yg  ...      GBP    6.37  2020-08-07
3       o79pns1qwo            GB  s0p322hh  ...      GBP   25.27  2020-08-09
4       o79pns1qwo            GB  dpkx192v  ...      GBP    8.90  2020-08-09
...            ...           ...       ...  ...      ...     ...         ...
237666  p7ibf7soot            GB  ss7jy9ks  ...      GBP   17.11  2020-08-06
237667  2hg8zirueq            US  bk6apusi  ...      USD   69.00  2020-08-05
237668  k5hmcfxcs6            GB  n2ez0xph  ...      GBP   58.28  2020-08-05
237669  ca8nc8qv1x            GB  j1s4nqxb  ...      GBP    9.46  2020-08-05
237670  z09h7w9zcd            US  0au7baxi  ...      USD  160.76  2020-08-06

[237671 rows x 10 columns]

In [8]:
df.head()

     buyer_id buyer_country seller_id  ... currency  price        date
0  qzpjsi9t0o            GB  6oufpaot  ...      GBP  19.11  2020-08-03
1  o79pns1qwo            GB  50xki2yg  ...      GBP  15.92  2020-08-09
2  sjgbjdkhqx            GB  50xki2yg  ...      GBP   6.37  2020-08-07
3  o79pns1qwo            GB  s0p322hh  ...      GBP  25.27  2020-08-09
4  o79pns1qwo            GB  dpkx192v  ...      GBP   8.90  2020-08-09

[5 rows x 10 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [11]:
df.shape[0]

237671

# 1. How many rows in the sales dataset?(Just write numbers) *

In [12]:
df.shape[0]

237671

# 2. How many columns in the sales dataset?(Just write numbers) *

In [13]:
df.shape[1]

10

# 3.What is the total number of seller?

In [14]:
df.head()

     buyer_id buyer_country seller_id  ... currency  price        date
0  qzpjsi9t0o            GB  6oufpaot  ...      GBP  19.11  2020-08-03
1  o79pns1qwo            GB  50xki2yg  ...      GBP  15.92  2020-08-09
2  sjgbjdkhqx            GB  50xki2yg  ...      GBP   6.37  2020-08-07
3  o79pns1qwo            GB  s0p322hh  ...      GBP  25.27  2020-08-09
4  o79pns1qwo            GB  dpkx192v  ...      GBP   8.90  2020-08-09

[5 rows x 10 columns]

In [17]:
df.seller_id.value_counts().count()
# df["seller_id"].nunique()

114227

# 4. What is the total value of sales in EUR?(Just write numbers) *

In [22]:
cur.date = pd.to_datetime(cur.date)
df.date = pd.to_datetime(df.date)

In [23]:
df.head()

     buyer_id buyer_country seller_id  ... currency  price       date
0  qzpjsi9t0o            GB  6oufpaot  ...      GBP  19.11 2020-08-03
1  o79pns1qwo            GB  50xki2yg  ...      GBP  15.92 2020-08-09
2  sjgbjdkhqx            GB  50xki2yg  ...      GBP   6.37 2020-08-07
3  o79pns1qwo            GB  s0p322hh  ...      GBP  25.27 2020-08-09
4  o79pns1qwo            GB  dpkx192v  ...      GBP   8.90 2020-08-09

[5 rows x 10 columns]

In [25]:
cur.head()

  currency       date  rate
0      EUR 2020-08-01   1.0
1      EUR 2020-08-02   1.0
2      EUR 2020-08-03   1.0
3      EUR 2020-08-04   1.0
4      EUR 2020-08-05   1.0

In [26]:
df_new = pd.merge(df,cur,on=["date","currency"])
df_new

          buyer_id buyer_country seller_id  ...    price       date      rate
0       qzpjsi9t0o            GB  6oufpaot  ...    19.11 2020-08-03   0.89935
1       rd209r8c7c            GB  9p2ansc9  ...    24.91 2020-08-03   0.89935
2       pqbcrl8azx            GB  r9zmzem8  ...    19.31 2020-08-03   0.89935
3       j5en1rwmxp            GB  3o2nz88r  ...    16.98 2020-08-03   0.89935
4       kjdezxeh1l            GB  7g56ublf  ...     2.85 2020-08-03   0.89935
...            ...           ...       ...  ...      ...        ...       ...
237666  d7dx6f3qv7           RoW  e2p108mu  ...     4.24 2020-08-04   4.39693
237667  iaf2ck3rj6            IT  gjb1qntq  ...  3923.18 2020-08-04  26.12360
237668  tucgt70cwc            AU  9adnlxvr  ...   525.82 2020-08-09   4.41427
237669  rrfjxzbdxu            US  w2pozh7u  ...    34.92 2020-08-06   6.33240
237670  wnmihth4io            GB  5yogzc17  ...   533.06 2020-08-08  10.64540

[237671 rows x 11 columns]

In [27]:
df_new["new_price"] = df_new["price"]/df_new["rate"]

In [29]:
df_new.head()

     buyer_id buyer_country seller_id  ...       date     rate  new_price
0  qzpjsi9t0o            GB  6oufpaot  ... 2020-08-03  0.89935  21.248680
1  rd209r8c7c            GB  9p2ansc9  ... 2020-08-03  0.89935  27.697782
2  pqbcrl8azx            GB  r9zmzem8  ... 2020-08-03  0.89935  21.471062
3  j5en1rwmxp            GB  3o2nz88r  ... 2020-08-03  0.89935  18.880302
4  kjdezxeh1l            GB  7g56ublf  ... 2020-08-03  0.89935   3.168955

[5 rows x 12 columns]

In [36]:
df_new.new_price.sum().round()

6471511.0

# 5. Which brand has the highest number of purchases?(Write down brand as in dataset, answer is case sensitive) *

In [40]:
df.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Preen                    1
Wacoal                   1
Shu Uemura               1
Parker                   1
Vita Fede                1
Name: brand, Length: 1134, dtype: int64

In [41]:
df_new.groupby("brand").sum().new_price.sort_values(ascending=False).head(5)

brand
Nike                385022.414067
Adidas              114211.542782
American Vintage     89939.908652
Brandy Melville      87735.664806
Dr. Martens          81491.623673
Name: new_price, dtype: float64

# 6. How many items in the â€œJewelryâ€ category have no brand?(Just write numbers) *

In [42]:
df.head()

     buyer_id buyer_country seller_id  ... currency  price       date
0  qzpjsi9t0o            GB  6oufpaot  ...      GBP  19.11 2020-08-03
1  o79pns1qwo            GB  50xki2yg  ...      GBP  15.92 2020-08-09
2  sjgbjdkhqx            GB  50xki2yg  ...      GBP   6.37 2020-08-07
3  o79pns1qwo            GB  s0p322hh  ...      GBP  25.27 2020-08-09
4  o79pns1qwo            GB  dpkx192v  ...      GBP   8.90 2020-08-09

[5 rows x 10 columns]

In [45]:
df[(df["category"]=="Jewellery")&(df["brand"].isnull())].product_code.value_counts().count()
#df_new[(df_new["category"]=="Jewellery") & (df_new.brand.isnull())].product_code.nunique()

10931

# 7. How many brands have number of transactions between 35 and 55 (inclusive)?(Just write numbers)

In [46]:
df.head()

     buyer_id buyer_country seller_id  ... currency  price       date
0  qzpjsi9t0o            GB  6oufpaot  ...      GBP  19.11 2020-08-03
1  o79pns1qwo            GB  50xki2yg  ...      GBP  15.92 2020-08-09
2  sjgbjdkhqx            GB  50xki2yg  ...      GBP   6.37 2020-08-07
3  o79pns1qwo            GB  s0p322hh  ...      GBP  25.27 2020-08-09
4  o79pns1qwo            GB  dpkx192v  ...      GBP   8.90 2020-08-09

[5 rows x 10 columns]

In [50]:
((df["brand"].value_counts()>=35)&(df["brand"].value_counts()<=55)).value_counts()

False    1053
True       81
Name: brand, dtype: int64

# 8. How many pairs of shoes were purchased by Australian (AU) buyers?(Just write numbers)

In [55]:
df[(df["category"]=="Shoes")& (df["buyer_country"]=="AU")].count()

buyer_id          658
buyer_country     658
seller_id         658
seller_country    658
product_code      658
category          658
brand              81
currency          658
price             658
date              658
dtype: int64

# 9. Which brand has the highest average transaction value? (Just write brand name)

In [61]:
df_new.groupby("brand").mean().new_price.sort_values(ascending=False)

brand
Goyard            338.926936
Loewe             334.530369
Craig Green       266.792684
TAG Heuer         224.586782
Emilio Pucci      214.758636
                     ...
Popular Sports      4.452175
Max Factor          4.329298
Bronica             3.329066
360 Cashmere        0.950906
36572               0.950199
Name: new_price, Length: 1134, dtype: float64

# 10. What is the total value of items purchased by GB buyers from GB sellers? (Just write numbers)

In [62]:
df_new.head()

     buyer_id buyer_country seller_id  ...       date     rate  new_price
0  qzpjsi9t0o            GB  6oufpaot  ... 2020-08-03  0.89935  21.248680
1  rd209r8c7c            GB  9p2ansc9  ... 2020-08-03  0.89935  27.697782
2  pqbcrl8azx            GB  r9zmzem8  ... 2020-08-03  0.89935  21.471062
3  j5en1rwmxp            GB  3o2nz88r  ... 2020-08-03  0.89935  18.880302
4  kjdezxeh1l            GB  7g56ublf  ... 2020-08-03  0.89935   3.168955

[5 rows x 12 columns]

In [63]:
df_new[(df_new["buyer_country"]=="GB")&(df_new["seller_country"]=="GB")].new_price.sum()

3526745.033129233

# 11. What percentage of US sellers' transactions were purchased by US buyers? (Just write percentage)

In [67]:
sel_us=df_new[(df_new["seller_country"]=="US")].new_price.sum()

In [71]:
buy_us= df_new[(df_new["buyer_country"]=="US")&(df_new["seller_country"]=="US")].new_price.sum()

In [75]:
round(buy_us/sel_us*100,2)

95.97